@import url("https://fonts.googleapis.com/css?family=Space+Mono:400|Work+Sans:400");

/*! Least to most specific
 element
 class - attribute
 ids
 !important - don't ever use
 order
 depth
*/

* {
  box-sizing: border-box;
}

:root {
  /*! Define colors as colors */
  --lightRed: #fd3f3f;
  --red: #f72525;
  --darkRed: #db2d2d;
  --yellow: #fde24f;
  --green: #00ebc7;
  --black: #1f262e;
  --lightBlue: #43b4b4;
  --blue: #289292;
  --darkBlue: #0e5355;
  --lightPurple: #635677;
  --purple: #3d334b;
  --darkPurple: #282231;
  --gray: #bfbfbf;
  --lightGray: #f2f4f6;
  --white: #ffffff;

  /*! Define colors intentions */
  --accent: var(--green);
  --danger: var(--red);
  --background: var(--lightGray);
  --textColor: var(--black);
  --borderColor: var(--gray);
  --cardBg: var(--white);
  --header: var(--lightPurple);
  --footer: var(--lightPurple);

  /*! Styles */
  --border: solid 1px var(--borderColor);
  --transition: all 0.2s linear;
  --buttonPadding: 5px 15px;
  --borderRadius: 4px;

  /*! Positioning */
  --p-sm: 10px;
  --p-md: 2.5%;

  /*! Shadows */
  --shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.6);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /*! Type */
  --headingFont: "Space Mono", monospace;
  --bodyFont: "Work Sans", sans-serif;
  --baseFontSize: 112.5%;
  --h1: 3.052em;
  --h2: 2.441em;
  --h3: 1.953em;
  --h4: 1.563em;
  --h5: 1.25em;
  --smallText: 0.8em;
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --accent: var(--green);
    --danger: var(--red);
    --background: var(--lightGray);
    --textColor: var(--black);
    --borderColor: var(--gray);
    --cardBg: var(--white);
    --header: var(--lightPurple);
    --footer: var(--lightPurple);
  }
}
/*! Theme */
/* 
@media screen and (prefers-color-scheme: dark) {
  :root {
    --cardBg: var(--purple);
    --header: var(--purple);
    --footer: var(--purple);
    --background: var(--black);
    --textColor: var(--lightGray);
  }
}

.oled {
  --black: #000;
  --cardBg: var(--darkPurple);
  --header: var(--darkPurple);
  --footer: var(--darkPurple);
  --background: var(--black);
  --textColor: var(--lightGray);
} */

/*! Toggle Switch */

#toggle-mode-cb {
  display: none;
}

#toggle-mode {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

#toggle-mode .toggle-border {
  border: 1px solid var(--black);
  width: 50px;
  height: 20px;
  display: block;
  border-radius: 20px;
  position: relative;
}

#toggle-mode .toggle-indicator {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--black);
  top: 2px;
  left: 2px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  box-sizing: border-box;
}

#toggle-mode .toggle-indicator::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  bottom: -3px;
  right: 5px;
  background-color: var(--black);
}

#mode-wrapper {
  transition: var(--transition);
}

/* #mode-wrapper .mode {
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* #mode-wrapper {
  background-color: white;
  color: #1e1f26;
} */
/* 
#mode-wrapper .mode__light {
  opacity: 1;
}

#mode-wrapper .mode__dark {
  opacity: 0;
} */

#toggle-mode-cb:checked {
  --cardBg: var(--purple);
  --header: var(--purple);
  --footer: var(--purple);
  --background: var(--black);
  --textColor: var(--lightGray);
}

/* #toggle-mode-cb:checked .mode__light {
  opacity: 0;
}

#toggle-mode-cb:checked .mode__dark {
  opacity: 1;
} */

#toggle-mode-cb:checked + #mode-wrapper .toggle-border {
  border-color: var(--yellow);
}

#toggle-mode-cb:checked + #mode-wrapper .toggle-indicator {
  background-color: var(--yellow);
  left: calc(50px - 18px);
  transform: rotate(180deg);
}

/*! Custom css */
html {
  font-size: var(--baseFontSize);
} /*18px base*/

body {
  background: var(--background);
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.65;
}

header {
  background: var(--header);
  color: var(--white);
  box-shadow: var(--shadow-md);
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--p-sm) var(--p-md);
}

header nav a {
  color: var(--white);
  text-decoration: none;
  transition: var(--transition);
  border-bottom: 1px solid var(--yellow);
}

header nav a:hover {
  color: var(--accent);
  border-bottom: 5px solid var(--yellow);
}

/* + operator parent + child */
header nav a + a {
  margin-left: 10px;
}

footer {
  --footerTextColor: var(--lightGray);
  color: var(--footerTextColor);
  background: var(--footer);
  padding: var(--p-sm);
  text-align: center;
}

footer a {
  color: var(--footerTextColor);
  transition: var(--transition);
  text-decoration: none;
  border-bottom: 1px solid var(--yellow);
}

footer a:hover {
  color: var(--accent);
  border-bottom: 5px solid var(--yellow);
}

footer p {
  max-width: none;
  margin-bottom: 0;
}

.layout {
  padding: calc(50px + 2rem) var(--p-md) 2rem;
}

p {
  margin-bottom: 1.15rem;
  max-width: 40em;
}

p a,
blockquote a {
  color: var(--textColor);
  text-decoration: none;
  border-bottom: solid 2px var(--accent);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: var(--smallText);
}

/* END of typescale */

blockquote {
  background-color: var(--cardBg);
  border-left: solid 10px var(--accent);
  margin: 10px;
  padding: 2em;
  box-shadow: var(--shadow-lg);
}

label {
  display: block;
  font-size: var(--smallText);
}

input,
textarea {
  padding: 4px 5px;
  border: var(--border);
  border-radius: var(--borderRadius);
}

textarea {
  width: 100%;
}

::placeholder {
  color: var(--gray);
}

select {
  border: var(--border);
}

input[type="submit"],
input[type="reset"],
button {
  --buttonColor: var(--blue);
  --textColor: var(--white);
  appearance: none;
  cursor: pointer;
  color: var(--textColor);
  background-color: var(--buttonColor);
  border: none;
  border-radius: var(--borderRadius);
  padding: var(--buttonPadding);
  box-shadow: var(--shadow-sm);
  transition: var(--transition);
}

input[type="submit"]:hover,
button:hover {
  background-color: var(--lightBlue);
  box-shadow: var(--shadow-md);
}

input[type="submit"]:active,
button:active {
  background-color: var(--darkBlue);
  box-shadow: var(--shadow-md);
}

button.small {
  font-size: var(--smallText);
}

input[type="reset"] {
  --buttonColor: var(--danger);
  color: white;
}

input[type="reset"]:hover {
  background-color: var(--lightRed);
  box-shadow: var(--shadow-md);
}

input[type="reset"]:active {
  background-color: var(--darkRed);
  box-shadow: var(--shadow-md);
}

button[disabled] {
  opacity: 0.4;
  cursor: auto;
}

hr {
  border-top: var(--border);
}

.logo {
  --baseFontSize: 2rem;
  font-size: var(--baseFontSize);
  margin: 0;
}

.card {
  background-color: var(--cardBg);
  padding: 2em;
  box-shadow: var(--shadow-lg);
  border-radius: var(--borderRadius);
}

/* First item never has top margin */
.card > *:first-child {
  margin-top: 0;
}
/* Last item never has bottom margin */
.card > *:last-child {
  margin-bottom: 0;
}

.split {
  display: grid;
  grid-template-columns: 33% 67%;
  grid-gap: 20px;
}

.grid {
  --gridCols: 2;
  --justifyContent: space-between;
  display: grid;
  grid-template-columns: repeat(var(--gridCols), 1fr);
  justify-content: var(--justifyContent);
  gap: 20px;
}

.grid-center {
  --justifyContent: center;
}

.cols-4 {
  --gridCols: 4;
}

.flex {
  --justifyContent: space-between;
  display: flex;
  justify-content: var(--justifyContent);
}

.flex-center {
  --justifyContent: center;
}

/*! Media Queries */

@media only screen and (max-width: 640px) {
  :root {
    --baseFontSize: 100%;
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 1024px) {
  .block {
    display: block;
  }
}
@media only screen and (max-width: 1280px) {
}

/* End Media Queries */
